.customButton{
    min-width: 165px;
    width: auto;
    height: 50px;
    letter-spacing: 0.5px;
    line-height: 50px;
    padding: 0 35px 0 35px;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: bolder;
    cursor: pointer;
    display:flex;
    justify-content: center;
    background-color: orangered;
    color: white;
    border: none;

    &:hover {
    background-color: white;
    color: orangered;
    border: 1px solid orangered;
    }
}