.cartDropdownContainer {
    position: fixed;
    width: 300px;
    height: 800px;
    border-left:6px solid white;
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: rgba(255, 166, 0, 0.8);
    top: 90px;
    right: 40px;
    z-index: 5;

    .cartItemsContainer{
        height: 90%;
        display: flex;
        flex-direction: column;
        overflow-y: scroll;
    }

    .cartDropdownButton{
        margin-top: auto;
        font-size: 14px;
        padding: 5px 0;
        transition: 0.3s;
        border:none;

        &:hover {
            box-shadow: 1px 1px 7px 3px white;
        }
    }

    .emptyMessage {
        font-size: 18px;
        margin: 50px auto;
    }
}