.invoicePageContainer{
    width: 55%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    border-radius: 5px;

    & h3 {
        padding: 15px 20px;
        background: rgb(233, 181, 84);
    }
}