.hero{
    background-image:url("../../assets/hero.webp");
    height: 84vh;
    background-size: cover;
    position: relative;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &:before {
        content:"";
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: orange;
        opacity: 0.2;   
    }

    .main-title {
        color: white;
        font-size: 60px;
        font-weight: 900;
        padding: 20px 30px;
        transform: translateY(-30px);
        background-color: rgba(24, 24, 24, 0.226)
    }

    .main-input {
        width: 30vw;
        z-index: 1;
        display: flex;
        flex-direction: column;

        input {
            border: none;
            padding: 15px;
            font-size: 16px;
            font-weight:400;

            &:focus {
                outline: none;
                }
        }

        button {
            border: none;
            padding: 15px;
            font-size: 16px;
            font-weight:600;
            background-color: rgb(255, 115, 0);
            color: white;
            transition: 0.3s;
            height:50px;
            overflow: hidden;
            display:flex;
            justify-content: center;
            align-items: center;

            &:focus {
                outline: none;
                }

            &:hover {
                background-color:rgb(180, 85, 6);
            }
        }
    }
}