.deliveryInfoContainer{
    width: 100%;
    margin-top: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;

    &::before {
        content:'';
        height: 1100px;
        background:linear-gradient(to bottom, orange 10%, rgb(255, 211, 129) 10%);
        position: absolute;
        z-index: -1;
        left: 0;
        right: 0;
    }

    .deliveryInfoTitle {
        margin: 50px 0;
        color: white;
        font-size: 35px;
        
        &::before {
            content:'';
            height: 1px;
            background-color: white;
            position: absolute;
            z-index: -1;
            left: 0;
            right: 0;
            transform: translateY(60px)
        }
    }

    .addressSection {
        width: 100%;

        & div{
            color: black;
            font-size: 20px;
            font-weight: 600;
        }

        & input[type=text] {
            background-color: rgb(243, 222, 183);
            padding: 5px 4px;
            width: 50%;
            margin: 20px 0;
            font-size: 20px;
            border: 1px solid rgb(255, 211, 129);
            transition: 0.4s ease;

            &:focus{
                outline: none;
                border-color: orange;
                width: 70%
            }
        }
    }

    .scheduleSection {
        width: 100%;
        margin: 50px 0;

        .scheduleTitle{
            color: black;
            font-size: 20px;
            font-weight: 600;
            text-transform: capitalize;
        }

        .defaultContainer{
            margin: 20px 0;
        }
    }
}

.customRadio {
    position: relative;
    padding: 15px 0px;

    input[type="radio"]{
        opacity:0;
    }

    & label {
        padding-left: 25px;
        font-size: 18px;
    }

    & label::before{
        content: "";
        display: inline-block;
        height: 30px;
        width: 30px;
        background-color: white;
        border: 2px solid orange;
        position: absolute;
        left: 0px;
        top: 7.5px;
        border-radius: 50%;
    }
    & label::after{
        content: "";
        display: inline-block;
        height: 20px;
        width: 20px;
        background-color:orange;
        position: absolute;
        left: 7px;
        top: 14.5px;
        border-radius: 50%;
        transform-origin: center;
        transform:scale(1);
        transition:0.3s;
    }
    input[type="radio"] + label::after {
        transform:scale(0)
    }
    input[type="radio"]:checked + label::after {
        transform:scale(1)
    }
}

.optionBox {
    padding: 15px 25px;
    background: white;
    border-left: solid 10px orange
}

.radioContainer{
    padding: 15px 25px;

    & input {
        margin-right: 10px;
    }
}