.dayContainer {
    padding: 5px;
    display: flex;
    border-bottom: dashed 1px rgba(255, 166, 0, 0.733);

    & h3 {
        width: 15%
    }

    & div {
        font-size: 15px;
        
        & input {
            margin: 0 10px 0 50px;
        }
    }
}