.directoryContainer{
    width: 70%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    border-radius: 5px;

    .locationTitle {
        color: gray;
        font-size: 1.8vmax;
        padding:2vmax 0
    }

    .locationTitle span {
        font-size: 2.2vmax;
        color:darkslategray;
        font-weight: 700
    }
}