.headerContainer {
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
    @media screen and (max-width: 800px){
        height: 60px;
        padding: 10px;
        margin-bottom: 20px;
    }

    .logoContainer {
        height: 70%;
        width: 70px;
        padding: 0 25px;  
        transition: 0.3s;
        @media screen and (max-width: 800px){
            display: none;
        }  
    }

    .optionContainer {
        width: 50%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        @media screen and (max-width: 800px){
            width: 100%;
        }

        .optionLink {
            padding: 10px 20px;
            font-size: 20px;
            font-weight: 800;
            cursor: pointer;
            color: orange;

            @media screen and (max-width: 800px){
                padding: 5px 10px;
                font-size: 15px;
                text-align: center;
            }
        }
        
    }
}